[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = this is a test
[access "refs/*"]
	owner = group user/lukeunderwood42
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/lukeunderwood42
	label-Verified = -1..+1 group user/lukeunderwood42
	push = group user/lukeunderwood42
	read = group user/lukeunderwood42
	rebase = group user/lukeunderwood42
	removeReviewer = group user/lukeunderwood42
	submit = group user/lukeunderwood42
[access "refs/heads/*"]
	create = group user/lukeunderwood42
	push = +force group user/lukeunderwood42
	pushMerge = group user/lukeunderwood42
	read = group user/lukeunderwood42
[access "refs/tags/*"]
	push = group user/lukeunderwood42
	push = +force group user/lukeunderwood42
